---
layout: default
title: Blog
permalink: /blog/
---

<div class="home">
 
  
    <div class="row pack col-md-12" style="margin-bottom: 50px;">
        <div class="img_profile">
          <img width="100%" src="/images/profile.jpg"/>
        </div>
		
		<h2 class="center">Tailo Mateus Gonsalves</h2>
	 
        {% for post in site.posts %}   
            <div class="col-md-12 card">
                <div class="panel-body">
                          
					{% if post.newsletter %}
					 
					{% else %}
					
					  <a href="{{ post.url }}" style="color:#000;">
                        <h3 style="font-size: 22px;" class="panel-title pull-left">{{ post.title | truncate: 100 }}</h3><span style="font-size:20px;" class="pull-right"><small>{{ post.date | date: "%b %-d, %Y" }}</small></span>
                      </a>
					  
					{% endif %}
                    
                  </div>
            </div>
        
          {% endfor %}

    </div>
</div>
