<footer>
    <div class="container">
        <div class="row p20">
            <div class="col-md-4 col-md-offset-8 text-center mt25">
                <a target="_blank" href="{{site.twitter}}"><li class="social twitter"><img src="/images/twitter.svg" alt="{{site.twitter}}"></li></a> 
                <a target="_blank" href="{{site.facebook}}"><li class="social facebook"><img src="/images/facebook.svg" alt="{{site.facebook}}"></li></a> 
                <a target="_blank" href="{{site.github}}"><li class="social github"><img src="/images/github.svg" alt="{{site.github}}"></li></a>
            </div>
        </div> 
    </div>
</footer>
