---
layout: compress
--- 

<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <div style="position: fixed;top: 0;left: 0;background: #000;
         background: -webkit-linear-gradient(to right, #000, #cecece);background: linear-gradient(to right, #000, #cecece);width: 100vw;height: 1rem;"></div>
    <div class="container" style="position: relative; top: 80px;margin: 0 auto;">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    
  <script src="/js/script.js"></script>
 {% if site.analytics %}{% include analytics.html %}{% endif %}
  </body>

</html>
