---
layout: compress
--- 

<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <header class="header">
      <ul>
        <li>
          <a href="/" class="page_home">Home</a>
        </li>
        <li>
          <a href="https://tinyletter.com/Tailo" target="_blank" class="newsletter">Newsletter</a>
        </li>
      </ul>
    </header>
    
    <div class="container" style="position: relative; top: 80px;margin: 0 auto;">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    
  <script src="/js/script.js"></script>
 {% if site.analytics %}{% include analytics.html %}{% endif %}
  </body>

</html>
